* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212;
  color: #fff;
  font-family: Arial, sans-serif;
}

header {
  background-color: #0f4c75;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 36px;
}

main {
  max-width: 800px;
  margin: 20px auto;
}

.game-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.game-list li {
  width: 30%;
  margin-bottom: 20px;
}

.game-list a {
  display: block;
  text-align: center;
  color: #fff;
  text-decoration: none;
}

.game-list img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.game-title {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  font-size: 18px;
}

footer {
  background-color: #0f4c75;
  color: #fff;
  text-align: center;
  padding: 10px;
}
